coverage==3.7.1
docutils==0.11
gensim==0.9.1
Jinja2==2.7.2
MarkupSafe==0.23
networkx==1.8.1
nltk==2.0.5
numpy==1.10.4
pbs==0.110
pep8==1.7.0
potara==0.1.0
PuLP==1.6.1
Pygments==1.6
pyparsing==1.5.7
PyYAML==3.11
scipy==0.17.0
Sphinx==1.2.2
pulp
